[submodule "inputs/huggingface/datasets/mina/o1js"]
	path = inputs/huggingface/datasets/mina/o1js
	url = https://huggingface.co/datasets/introspector/o1js-peformance-results
[submodule "inputs/huggingface/datasets/mina/o1js-clinic"]
	path = inputs/huggingface/datasets/mina/o1js-clinic
	url = https://huggingface.co/datasets/introspector/o1js-clinic
